@import 'src/assets/scss/vars';
@import '../InfoCell/InfoCell.module';

.skeletonCell {
  @extend .cell;

  background-color: $skeleton-cell-color;
  color: $color-white;

  span {
    align-items: center;
    display: flex;
  }
}
