.service_cell {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
}

.service_status {
  &_UP {
    background-color: #6f6;
    color: #070707;
  }

  &_MUMBLE {
    background-color: blueviolet;
    color: #070707;
  }

  &_CORRUPT {
    background-color: coral;
    color: #070707;
  }

  &_DOWN {
    background-color: crimson;
    color: #070707;
  }
}

.top_info {
  display: flex;
  flex-direction: column;
}

.bottom_info {
  display: flex;
  align-items: center;
}

.service_flags {
  image-rendering: crisp-edges;
  width: 25px;
  height: 25px;
}

