@import 'src/assets/scss/vars';

.arrow {
  &label {
    font-weight: lighter;
  }
}

.arrowImg {
  width: 25px;
  height: 25px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &UP {
    transform: rotate(45deg);
  }

  &DOWN {
    transform: rotate(135deg);
  }
}
