@import 'src/assets/scss/vars';

.skeleton {
  display: inline-flex;
  height: 1.2rem;
  justify-content: center;
  width: fit-content;
  padding: 0 2px;
}

.skeletonBackground {
  background-color: $skeleton-placeholder-color;
  border-radius: $skeleton-border-radius;
  box-sizing: border-box;
  height: 1rem;
  position: relative;
  vertical-align: baseline;
  overflow: hidden;
}

.skeletonForeground {
  height: 100%;
  position: absolute;
  width: 100%;
}

.animated {
  animation: slide 2s infinite;
  background: linear-gradient(
      100deg,
      rgba($skeleton-highlight-color, 0) 30%,
      rgba($skeleton-highlight-color, 0.8) 50%,
      rgba($skeleton-highlight-color, 0) 70%
    )
    no-repeat left -35px bottom 0;
  background-size: 35px 100%;
}

@keyframes slide {
  to {
    background-position: right -35px bottom 0;
  }
}
