@import 'src/assets/scss/_vars';

.commandRow {
  background-color: rgba(255, 255, 255, 0.02);
  border: 2px $color-white solid;
  border-bottom: 0;
  box-sizing: border-box;
  display: flex;
  //flex-direction: row;
  height: 100px;
  padding: 5px;
  width: 100%;
}

.commandRow:last-child {
  border: 2px $color-white solid;
}

.commandServices {
  justify-content: space-between;
  width: calc(100% - #{$team-column-width});
  display: flex;
  //flex-grow: 1;
  //overflow: hidden;
}
