@import 'src/assets/scss/vars';

.commandRow {
  background-color: rgba(255, 255, 255, 0.02);
  border: 2px $color-white solid;
  border-bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 5px;
  width: 100%;
}

.commandRow:last-child {
  border: 2px $color-white solid;
}

.commandServices {
  align-content: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
