@import 'src/assets/scss/vars';

.cell {
  display: flex;
  color: $color-black;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: 4px;
  padding: 10px 15px;
}

.cellInfoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  color: $color-white;
  z-index: 1;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
}

.cellInfoWrapShow {
  font-family: 'Firstblood';
  font-size: 50px;
  opacity: 75%;
}

.skeleton {
  background-color: $skeleton-cell-color;
  color: $color-white;

  span {
    align-items: center;
    display: inline-flex;
  }

  div {
    background-color: rgba(0, 0, 0, 0);
  }
}

.serviceStatus {
  &UP {
    background-color: $status-up;
  }

  &ERROR {
    background-color: $status-error;
  }

  &MUMBLE {
    background-color: $status-mumble;
  }

  &CORRUPT {
    background-color: $status-corrupt;
  }

  &DOWN {
    background-color: $status-down;
  }
}

.topInfo {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2px 5px;
}

.serviceSla {
}

.bottomInfo {
  align-items: center;
  display: flex;
  width: fit-content;
  padding: 2px 5px;
}
