@import 'src/assets/scss/vars';

.cell {
  border-right: 0;
  color: $color-black;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  margin-left: 5px;
  padding: 10px 5px 5px 15px;
}

.cell:last-child {
  border-right: 5px;
}

.serviceStatus {
  &UP {
    background-color: $status-up;
  }

  &ERROR {
    background-color: $status-error;
  }

  &MUMBLE {
    background-color: $status-mumble;
  }

  &CORRUPT {
    background-color: $status-corrupt;
  }

  &DOWN {
    background-color: $status-down;
  }
}

.topInfo {
  display: flex;
  flex-direction: column;
}

.bottomInfo {
  align-items: center;
  display: flex;
}

.flags {
  height: 25px;
  width: 25px;
  image-rendering: crisp-edges;
}
