@import 'src/assets/scss/_vars.scss';

main {
  width: $page-width;
}

.command {
  display: flex;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #070707;
}

.commandData {
  min-width: $team-column-width;
  padding-left: 10px;
  padding-top: 10px;
}

.status_class,
.service {
  min-width: $service-column-width !important;
  margin: 0 8px 0 8px;
  padding-left: 15px;
  padding-top: 10px;
  &_UP {
    @extend .status_class;

    background-color: #6f6;
    color: #070707;
  }

  &_MUMBLE {
    @extend .status_class;

    background-color: blueviolet;
    color: #070707;
  }

  &_CORRUPT {
    @extend .status_class;

    background-color: coral;
    color: #070707;
  }

  &_DOWN {
    @extend .status_class;

    background-color: crimson;
    color: #070707;
  }
}
