@import 'src/assets/scss/vars';

header {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-bottom: 0;
  box-sizing: border-box;
  padding: 5px;
}

.logo {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.rounds {
  display: inherit;
}

.boardName {
  min-width: $team-column-width;
}

.serviceList {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-content: center;
}

.serviceName {
  align-self: end;
  border-right: 0;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
