@import 'src/assets/scss/_vars';

header {
  display: flex;
  flex-direction: row;
  width: $page-width;
  border-bottom: 0;
  box-sizing: border-box;
  padding: 0 0 0 5px;
}

.logo {
  width: $team-column-width;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rounds {
  display: inherit;
}

.boardName {
  min-width: $team-column-width;
}

.serviceList {
  display: flex;
  width: calc(100% - #{$team-column-width});
  margin-top: auto;
  flex-grow: 1;
  padding-right: 4px;
  //align-items: flex-end;
  justify-content: space-around;
}

.serviceName {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding-left: 5px;
  //flex-basis: 100%;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  //border-left: 2px solid $color-white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
