@import 'src/assets/scss/vars';

header {
  display: flex;
  flex-direction: row;
  width: $page-width;
  border-bottom: 0;
  box-sizing: border-box;
  padding: 0 0 0 5px;
}

.logo {
  width: $team-column-width;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rounds {
  display: inherit;
}

.boardName {
  min-width: $team-column-width;
}

.serviceList {
  display: flex;
  flex-grow: 2;
}

.serviceName {
  margin-top: auto;
  align-self: end;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
  flex-grow: 2;
  flex-basis: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid $color-white;
  border-bottom: 0;
  border-right: 0;
  justify-content: center;
}

.serviceName:last-child{
  border-right: 2px solid $color-white;
}
