@import 'src/assets/scss/vars';

.cell {
  border-right: 2px solid $color-white;
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  min-width: $team-column-width;
  padding: 15px;
  padding-left: 8px;

  span {
    align-items: center;
    display: flex;
  }
}

.deltas {
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.logo {
  display: flex;
  height: 58px;
  width: 58px;
  position: relative;

  img {
    height: 100%;
  }
}

.logo::after {
  background-color: $color-white;
  content: '';
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  width: 1px;
}

.labelsBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 25px;
}

.commandInfoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.commandName {
  max-width: 150px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commandStatsBlock {
  display: flex;
  flex-direction: column;
}
