@import 'src/assets/scss/vars';

$image_size: 70px;

.cell {
  border-right: 2px solid $color-white;
  display: flex;
  flex-direction: row;
  min-width: $team-column-width;
  padding: 15px;

  span {
    align-items: center;
    display: flex;
  }
}

.logo {
  display: flex;
  height: $image_size;
  position: relative;
  width: $image_size;

  img {
    width: 100%;
    height: 100%;
  }
}

.logo::after {
  background-color: $color-white;
  content: '';
  height: 70px;
  position: absolute;
  right: -15px;
  top: 0;
  width: 1px;
}

.labelsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
}

.commandInfoBlock {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.commandStatsBlock {
  display: flex;
  flex-direction: column;
}
