@import 'src/assets/scss/vars';

.cell {
  border-right: 2px solid $color-white;
  display: flex;
  flex-direction: row;
  width: $team-column-width;
  padding: 15px;

  span {
    align-items: center;
    display: flex;
  }
}

.logo {
  display: flex;
  height: 100%;
  width: inherit;
  position: relative;

  img {
    height: 100%;
  }
}

.logo::after {
  background-color: $color-white;
  content: '';
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  width: 1px;
}

.labelsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 25px;
}

.commandInfoBlock {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.commandName {
  width: 200px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commandStatsBlock {
  display: flex;
  flex-direction: column;
}
