@import 'src/assets/scss/vars';

.flags {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.flagIco {
  height: 13px;
  image-rendering: crisp-edges;
  width: 13px;
}

.flagBlack {
  fill: $color-black;
}

.flagWhite {
  fill: $color-white;
}
